{% extends '_base.html' %}
{% block title %}Home{% endblock %}

{% block content %}
    <div class="introduction">
        {{ about }}

        <ul class="social_profiles">
            {% for profile, url in about.profiles|dictsort %}
            <li class="social__item">
                <a class="social__link" rel="me" href="{{ url }}">
                    {{ profile }}
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>
    <div>
        <h2>Career evolution</h2>
        {{ career }}

        <ul class="jobs">
            {% for job in jobs %}
            <li class="job__item">
                <h3>
                    <a class="job__link" href="{{ job.url }}">
                        {{ job.name }} at {{ job.company.name }}
                    </a>
                </h3>
                {{ job.summary }}
            </li>
            {% endfor %}
        </ul>
    </div>
{% endblock content %}
