{% extends '_base.html' %}
{% block title %}{{ project.name }}{% endblock %}

{% block content %}
    {% if job %}
    <h2>Related job</h2>
    <p>
        <a class="job__link" href="{{ job.url }}">
            {{ job.position.name }} at {{ job.company.name }}
        </a>
    </p>
    {% endif %}

    {% if tags %}
    <h2>Tags</h2>
    <ul class="tags">
        {% for tag in tags %}
        <li class="tag__item">
            <a class="tag__link" href="{{ tag.url }}">
                {{ tag.name }}
            </a>
        </li>
        {% endfor %}
    </ul>
    {% endif %}
{% endblock %}
