{% extends '_base.html' %}
{% block title %}{{ tag.name }}{% endblock %}

{% block content %}
    {% if projects %}
    <h2>Projects</h2>
    <ul class="projects">
        {% for project in projects %}
        <li class="project__item">
            <a class="project__link" href="{{ project.url }}">
                {{ project.name }}
            </a>
        </li>
        {% endfor %}
    </ul>
    {% endif %}

    {% if tags %}
    <h2>Related tags</h2>
    <ul class="tags">
        {% for tag in tags %}
        <li class="tag__item">
            <a class="tag__link" href="{{ tag.url }}">
                {{ tag.name }}
            </a>
        </li>
        {% endfor %}
    </ul>
    {% endif %}
{% endblock %}
